container_commands:
    01-move-priv-key:
        command: cp .ebextensions/eb/git_rsa ~root/.ssh/id_rsa; chmod 400 ~root/.ssh/id_rsa;
    02-move-pub-key:
        command: cp .ebextensions/eb/git_rsa.pub ~root/.ssh/id_rsa.pub; chmod 400 ~root/.ssh/id_rsa.pub;
    03-copy-knowhost:
        command: ssh-keyscan bitbucket.org > ~root/.ssh/known_hosts
    04-composer-cp:
        command: cp .ebextensions/eb/composer.json ./ && composer.phar install -o;

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: HOME
    value: /root